services:
  idgen1:
    build: .
    environment:
      MACHINE_ID: "1"
      PORT: "8080"
    ports:
      - "8081:8080"
  idgen2:
    build: .
    environment:
      MACHINE_ID: "2"
      PORT: "8080"
    ports:
      - "8082:8080"
  idgen3:
    build: .
    environment:
      MACHINE_ID: "3"
      PORT: "8080"
    ports:
      - "8083:8080"
