global
  maxconn 256

defaults
  mode http
  timeout connect 5s
  timeout client 30s
  timeout server 30s

listen db-read
  bind *:5433
  mode tcp
  balance roundrobin
  option tcp-check
  server db1 db-replica-1:5432 check
  server db2 db-replica-2:5432 check

frontend http-in
  bind *:80
  default_backend django_app

backend django_app
  balance roundrobin
  option httpchk GET /health
  http-check expect status 200
  server web1 web-1:8000 check
  server web2 web-2:8000 check
