global
    log stdout format raw local0

defaults
    mode http
    log global
    option httplog
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend http_front
    bind *:8080
    option forwardfor
    http-request set-header X-Forwarded-Proto http
    default_backend urlshortener_servers

backend urlshortener_servers
    balance roundrobin
    option httpchk GET /health
    http-check expect status 200
    server app1 app1:8080 check
    server app2 app2:8080 check
